* {
    box-sizing: border-box;
}
body {
    background-color: #071115;
    color: #fff;
}
.container{
    margin: 1rem auto;
}
.container .container{
    max-width: 700px;
}
h1{
    font-size: 2.8rem;
}
ul{
    list-style: none;
    padding-left: 0;
}
li{
    position: relative;
    margin-bottom: .5rem;
    border-radius: .3rem;
    font-size: 1.3rem;
    padding: .2rem 1rem;
    border: #fff 1px solid;
    text-transform: capitalize;
}
.delete{
    position: absolute;
    top: 35%;
    right: 1rem;
}